
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
</head>

<body>

  <div class="form">
      
      <ul class="tab-group">
        <li class="tab "><a routerLink="/signup">Sign Up</a></li>
        <li class="tab active"><a  routerLink="/signin">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form #LoginForm="ngForm" (ngSubmit)="onSubmit(Email.value,Password.value)" action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name="email" #Email ngModel  autocomplete="off" required/>
            <div *ngIf="Email.invalid" style="background-color: brown">
                  Email is required.
            </div>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name="password" #Password ngModel required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block"  [disabled]="LoginForm.invalid">Log In</button>
          
          </form>
          <div class="field-wrap">
              <label>
                  <h4 class="text-darken-2" style="font-size:20px;text-align: center;" *ngIf="checkLogin">Please enter correct username or password</h4>
              </label>
            </div>
        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script  src=""></script>
</body>

</html>
