<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="../../../assets/Admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="../../../assets/Admin/css/simple-sidebar.css" rel="stylesheet">-->
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a  class="menuItem" routerLink="/admin">Hello Admin</a>
                <li>
                    <button type="button" class="menuItem" (click)="onToggleMenu('c')">
                        Course&nbsp;<i class="fa fa-caret-down" style="float:right;margin-top:10px;"></i>
                    </button>
                    <div  *ngIf="toggleCourseMenu">
                        <a routerLink="/admin/addCourse" class="subItem"  id="addCourse">
                            Add Course
                        </a>
                        <a routerLink="/admin/viewCourses" class="subItem"  id="viewCourses">
                            View Courses
                        </a>
                    </div>
                </li>
                
                <li>
                        <button type="button" class="menuItem" (click)="onToggleMenu('s')">
                            Subject&nbsp;<i class="fa fa-caret-down" style="float:right;margin-top:10px;"></i>
                        </button>
                        <div  *ngIf="toggleSubjectMenu">
                            <a  routerLink="/admin/addSubject" class="subItem"  id="addSubject">
                                Add Subject
                            </a>
                            <a  routerLink="/admin/viewSubject" class="subItem"  id="viewSubject">
                                View Subject
                            </a>  
                        </div>
                    </li>
                

                <li>
                    <button type="button" class="menuItem" (click)="onToggleMenu('v')">
                        Tutorials&nbsp;<i class="fa fa-caret-down" style="float:right;margin-top:10px;"></i>
                    </button>
                    <div  *ngIf="toggleTutorialMenu">
                        <a routerLink="/admin/addVideo" class="subItem"  id="addVideo">
                            Add Tutorial
                        </a>  
                        <a routerLink="/admin/viewTutorials" class="subItem"  id="viewTutorials">
                            View Tutorial
                        </a>  
                                         
                    </div>
                </li>
                <li>
                    <button type="button" class="menuItem" (click)="onToggleMenu('t')">
                        Topic&nbsp;<i class="fa fa-caret-down" style="float:right;margin-top:10px;"></i>
                    </button>
                    <div  *ngIf="toggleTopicMenu">
                        <a routerLink="/admin/addTopic" class="subItem"  id="addTopic">
                            Add Topic
                        </a>
                        <a routerLink="/admin/viewTopics" class="subItem"  id="viewTopics">
                            View Topics
                        </a>
                    </div>
                </li>
                <li>
                    <button type="button" class="menuItem" (click)="onToggleMenu('q')">
                        Quizes&nbsp;<i class="fa fa-caret-down" style="float:right;margin-top:10px;"></i>
                    </button>
                    <div  *ngIf="toggleQuizesMenu">
                        <a routerLink="/admin/addQuiz" class="subItem"  id="addTopic">
                            Add Quiz
                        </a>
                        <a routerLink="/admin/viewQuizes" class="subItem"  id="viewTopics">
                            View Quizes
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid"> 
                <!--<h1>Simple Sidebar</h1>
                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                -->
                <div *ngIf="displayAddCourse" class="mainContent">
                    <app-add-course></app-add-course>
                </div> 
                <div *ngIf="displayViewCourses" class="mainContent">
                    <app-view-courses></app-view-courses>
                </div>
                <div *ngIf="displayAddVideo" class="mainContent">
                    <app-add-video></app-add-video>
                </div> 

                <div *ngIf="displayAddSubject" class="mainContent">
                    <app-add-subject></app-add-subject>
                </div>

                <div *ngIf="displayViewSubject" class="mainContent">
                    <app-view-subjects></app-view-subjects>
                </div>
                <div *ngIf="displayAddTopic" class="maincontent">
                    <app-add-topic></app-add-topic>
                </div>
                <div *ngIf="displayViewTopics" class="maincontent">
                        <app-view-topics></app-view-topics>
                </div>
                <div *ngIf="displayViewTutorials" class="mainContent">
                    <app-view-tutorials></app-view-tutorials>
                </div>
                <div *ngIf="displayAddQuiz" class="maincontent">
                    <app-add-quiz></app-add-quiz>
                </div>
                <div *ngIf="displayViewQuiz" class="maincontent">
                    <app-view-quizes></app-view-quizes>
                </div>
            </div>
        </div>
    
        <!-- /#page-content-wrapper -->

    </div>
    
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../../assets/Admin/jquery/jquery.min.js"></script>
    <script src="../../../assets/Admin/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Menu Toggle Script -->
   

</body>
</html>