
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  -<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
  -->
  <div class="form">
      <div class="tab-content">
        <div id="login">     
            <div class="task">Add Course</div>        
          <form #CourseLoginForm="ngForm" (ngSubmit)="onSubmit(CourseLoginForm.value)" action="/" method="post"> 
            <div class="field-wrap">
            <label>
              Course Name <span class="req">*</span>
            </label>
            <input type="text" name="CourseName" #CourseName="ngModel" class="input100 is-invalid form-control"  ngModel  autocomplete="off" required/>
            <div *ngIf="CourseName.invalid && (CourseName.dirty || CourseName.touched )" style="margin-top: 30px;color: red;font-size: 20px;" >
                    CourseName is required.
            </div>
          </div>
          
          <!--<div class="field-wrap">
            <label>
                Subject <span class="req">*</span>
            </label>
            <input type="text" name="Subject" #Subject ngModel required autocomplete="off"/>
          </div>-->
          <div class="field-wrap">
            <select  [(ngModel)]="SelectedSubject" style="margin-right:50px;" name="SubjectId" #SelectSubject="ngModel" class="input100 is-invalid form-control">
                <option value="0" selected>
                    Select Subject
                  </option>
                <option *ngFor="let sname of SubjectNames" [ngValue]="sname._id" >
                    {{sname.SubjectName}}
                </option>
                <div *ngIf="SelectSubject.invalid && (SelectSubject.dirty || SelectSubject.touched)" style="margin-top:30px;color:red;font-size: 20px;">
                    Select A Subject    
                </div>
          </select>
        </div>          
            <div class="field-wrap">
              <label>
                  Description <span class="req">*</span>
              </label>
              <input type="text" name="Description" #Description="ngModel" class="input100 is-invalid form-control" ngModel required autocomplete="off"/>
              <div *ngIf="Description.invalid && (Description.dirty || Description.touched )" style="margin-top: 30px;color: red;font-size: 20px;" >
                    Description is required.
            </div>
            </div>    
            
            <div class="field-wrap">
                <label>
                    ImagePath <span class="req">*</span>
                </label>
                <input type="url" name="ImagePath" #ImagePath="ngModel" class="input100 is-invalid form-control"  [(ngModel)]="imageurl" (change)="pathSet()" required autocomplete="off"/>
                <div *ngIf="ImagePath.invalid && (ImagePath.dirty || ImagePath.touched )" style="margin-top: 30px;color: red;font-size: 20px;" >
                        ImagePath is required.
                </div>

                <img *ngIf="ImageIsSet" [src]="imageurl" style="width: 450px;height:400px;" allowfullscreen>
            </div>    
            <div class="field-wrap" >
                <label>
                    Duration <span class="req">*</span>
                </label>
                <input type="number" name="Duration" #Duration="ngModel" class="input100 is-invalid form-control" ngModel required autocomplete="off"/>
                <div *ngIf="Duration.invalid && (Duration.dirty || Duration.touched )" style="margin-top: 30px;color: red;font-size: 20px;" >
                        Duration is required.
                </div>
            </div> 
            <div class="field-wrap">
                  <label>
                      Cost <span class="req">*</span>
                  </label>
                  <input type="number" min="0" name="Cost" #Cost="ngModel" class="input100 is-invalid form-control"  ngModel required autocomplete="off"/>
                   <div *ngIf="Cost.invalid && (Cost.dirty || Cost.touched )" style="margin-top: 30px;color: red;font-size: 20px;" >
                        Cost is required.
                </div>
                </div>         
          <button class="button button-block"  [disabled]="CourseLoginForm.invalid">Add</button>
          </form>
          <!--<div class="field-wrap" *ngIf="checkLogin"> 
              <label>
                  <h4 class="text-darken-2" style="font-size:20px;text-align: center;" >Please enter correct username or password</h4>
              </label>
            </div>
        </div>
    -->
      </div><!-- tab-content -->
      
</div> <!-- /form -->

