
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  -<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
  -->
  <div class="form">
      <div class="tab-content">
        <div id="login">     
            <div class="task">Add Subject</div>        
          <form #SubjectLoginForm="ngForm" (ngSubmit)="onSubmit(SubjectName.value)" action="/" method="post"> 
            <div class="field-wrap">
            <label>
                Subject Name <span class="req">*</span>
            </label>
            <input type="text" name="SubjectName" #SubjectName ngModel  autocomplete="off" required/>
            <div *ngIf="SubjectName.invalid" style="background-color: brown">
                SubjectName is required.
            </div>
          </div>
          
                
          <button class="button button-block"  [disabled]="SubjectLoginForm.invalid">Add</button>
          </form>
          <!--<div class="field-wrap" *ngIf="checkLogin"> 
              <label>
                  <h4 class="text-darken-2" style="font-size:20px;text-align: center;" >Please enter correct username or password</h4>
              </label>
            </div>
        </div>
    -->
      </div><!-- tab-content -->
      
</div> <!-- /form -->

