<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="../../../assets/Admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="../../../assets/Admin/css/simple-sidebar.css" rel="stylesheet">-->
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="topic-img">
                  <img src="https://www.tutorialspoint.com/assets/videos/courses/289/images/course_289_image.png" alt="topic image">
                <li>
                <li>
                    <a  class="menuItem" routerLink="#">
                     <i class="fa fa-play-circle-o"></i> topic 1</a> 
                </li>
                <li>
                  <a  class="menuItem" routerLink="#">
                   <i class="fa fa-play-circle-o"></i> topic 1</a> 
              </li> <li>
                <a  class="menuItem" routerLink="#">
                 <i class="fa fa-play-circle-o"></i> topic 1</a> 
            </li> <li>
              <a  class="menuItem" routerLink="#">
               <i class="fa fa-play-circle-o"></i> topic 1</a> 
          </li> <li>
            <a  class="menuItem" routerLink="#">
             <i class="fa fa-play-circle-o"></i> topic 1</a> 
        </li>
            </ul>
        </div>
        
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            
            <div class="container-fluid"> 
              
               <div class="topic-header-background">
                    <div class="topic_header">
                        <div class="course_header_title" style="background:#44aa4b">MongoDB Online Training           
                        </div>
                        <h2 class="course_header_sub">Simply Easy Learning</h2>
                     </div> 		  		  		   
               </div>
               <div class="topic-content">
                        <div class="options">                                            
                          <hr>
                            <a href="https://www.tutorialspoint.com/mongodb_online_training/index.asp" class="button round accent-color date prevpage">   
                               <i class="fa fa-arrow-circle-o-left big-font"></i> Previous Page
                            </a>                    
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                            <a href="https://www.tutorialspoint.com/mongodb_online_training/introduction_to_mongodb.asp" class="button round accent-color date nextpage">
                            Next Page <i class="fa fa-arrow-circle-o-right big-font"></i>&nbsp;
                            </a>
                         </div>
                         <div class="video-content">
                            <iframe width="1000" height="450" src="https://www.youtube.com/embed/5aixi7_EFwk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
               </div>

                
            </div>
        </div>
    
        <!-- /#page-content-wrapper -->

    </div>
    
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../../assets/Admin/jquery/jquery.min.js"></script>
    <script src="../../../assets/Admin/bootstrap/js/bootstrap.bundle.js"></script>
   
    <!-- Menu Toggle Script -->
   

</body>
</html>