
.sidebar{
  background-color: #f44336;
}
video{
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.menuItem{
  background-color: transparent;
  font-size: 20px;
  border: none;
  width: 250px;
  padding-left: 30px;
  text-align: left;
  color:white;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  background-color: #f44336;
}
.menuItem :hover{
  background-color: black;
}