<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div *ngIf="displayEditor">
  <div class="editor" [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
  <div class="w3-container">
    <p><button class="w3-button w3-black w3-round-xxlarge" (click)="addTopic()">Add</button></p>
  </div>
</div>

<div *ngIf="!displayEditor" class="w3-container">
  
  <div class="form">
      <div class="task">Add Topic</div>        
      <div class="w3-container">
          <div class="w3-card-4 w3-center w3-xlarge"*ngIf="_Message">
                  <p>{{_Message}}</p>
          </div>
      </div>
    <div class="tab-content">
        <div class="tab-content">
            <div class="field-wrap">
              <select  [(ngModel)]="SelectedCourse" style="margin-right:50px;" name="CourseId">
                  <option value="0" selected>
                      Select Course
                    </option>
                  <option *ngFor="let cname of CourseNames" [ngValue]="cname._id">
                      {{cname.CourseName}}
                  </option>
              </select>
            </div>
            <div class="field-wrap">
                <label>
                    Topic Name <span class="req">*</span>
                </label>
                <input type="text" name="TopicName" [(ngModel)]="topicName" #TopicName="ngModel" class="input100 is-invalid form-control" required autocomplete="off"/> 
                <div *ngIf="TopicName.invalid && (TopicName.dirty || TopicName.touched )" style="margin-top: 30px;color: red;font-size: 20px;" >
                        TopicName is required.
                </div>
            </div>
            <button class="button button-block" (click)="displayTopicEditView()">Next</button>
         </div>
            
    </div> 
  </div>
</div>
