
<h2>HELLO</h2>
<span id="result"></span>
<button (click)="addBlocks()">this button</button>
<div class="main">
  <!--<div class="row">
    <div class="column">
      <a (click)="x()"><img src="../../assets/CSS.PNG"></a>
      <figcaption>CSS learning</figcaption>
    </div>
    <div class="column">
        <img src="../../assets/HTML5.PNG">
        <figcaption>HTML learning</figcaption>
    </div>
    <div class="column">
        <img src="../../assets/JQuery.PNG">
        <figcaption>JQuery learning</figcaption>
    </div>
  </div>-->
</div>
  <div>
    <ul>
      <li *ngFor="let item of courses | paginate: { itemsPerPage: 1, currentPage: p }"> ... </li>
    </ul>
               
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>