<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--<nav>
  <div class="nav-wrapper" style="background-color: black;">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="sass.html">About</a></li>
          <li><a href="badges.html">Login</a></li>
      </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">About</a></li>
      <li><a href="badges.html">Login</a></li>
      <li><a href="collapsible.html">Registration</a></li>
    </ul>
    <ul id="nav-mobile" class="dropdown-toggle" data-toggle="dropdown"  routerLink="#">Explore Courses<span class="caret"></span>
    <ul  id="nav-mobile" class="dropdown-menu">
        <div class="w3-row-padding" style="position:fixed;height:auto ; display: block;
        overflow: auto;background-color: rgb(0, 150, 136);">
          <table>
          <div class="w3-col l3 m4" *ngFor="let c of courses;">
            <tr><a class="w3-bar-item w3-button" (click)="gototextcontent(c)">{{c.CourseName}}</a></tr>
          </div>
          </table>
        </div>
  
    </ul>
    </ul>
  </div>
</nav>-->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a routerLink="/home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <div class="w3-dropdown-hover w3-hide-small">

        <!--<button class="w3-padding-large w3-button" title="More">Explore Courses&nbsp;<i class="fa fa-caret-down"></i></button>     
        --><div class="w3-dropdown-content w3-bar-block w3-card-4">
            <div class="w3-card w3-light-grey" style="position:fixed;height:auto; display: block;margin-right:25px;
            overflow: auto;">
              <table>
              <div class=" w3-button" *ngFor="let c of courses;">
                <tr style="border: 0px;outline: 0px;"><a class="w3-bar-item w3-button" (click)="gototextcontent(c)">{{c.CourseName}}</a></tr>
              </div>
              </table>
            </div>
        </div>
     
      </div>
      <button  class="w3-bar-item w3-button w3-padding-large w3-right" (click)="logOut()" *ngIf="username">Log Out</button>
      <a routerLink="/home" class="w3-bar-item w3-button w3-padding-large  w3-right" *ngIf="username">Hello {{username}}!</a>
      <a routerLink="/signin" class="w3-bar-item w3-button w3-padding-large  w3-right" *ngIf="!username">Login</a>
      <a routerLink="/signup" class="w3-bar-item w3-button w3-padding-large  w3-right" *ngIf="!username">SignUp</a>

    </div>
</div>
<div class="bg-img">
  <div class="data">
      WE ENSURE BETTER EDUCATION FOR A BETTER WORLD
  </div>
  <br>
  <div class="small-data">
      Education is the passport to the future, for tomorrow belongs to those<br> who prepare for it today.
  </div>
  <!--<form class="container">
    <h1>FIND COURSES</h1>
    <input type="text" name="psw" #myId class="search" (keyup)="onKey($event)" placeholder="Enter Course" [(ngModel)]="term" required>


    <div *ngIf="IsBelowDataEnabled">
      <div class="belowdata" *ngFor="let c of courses | filter:term;">
      {{c.CourseName}}<br>
      </div>
    </div>-->
    <!--<div *ngIf="ExtraData">
      No Course Is available
    </div>
  </form>-->
</div>
<div class="main">
  <div class="row">
    <div class="column" *ngFor="let item of courses | paginate: { itemsPerPage: 8, currentPage: p } | filter:term;" (click)="gototextcontent(item)" >
      <a><img [src]="item.ImagePath"></a>
      <div style='height:35px; width:auto;text-align: center;font-size: 25px;'>
        {{item.CourseName}}
     </div>
  </div>
</div>
</div>
<div style="text-align: center;">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div class="availableSubjects">
  Course Categories
  </div>
<div class="subjectmain">
  <div class="subjectrow" align="center">
    <div class="subjectcolumn" *ngFor="let s of subject"> 
        {{s}}
    </div>  
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="footer">
  <div class="footerrow">
    <div class="footercolumn">
      asdasdasd
    </div>
    <div class="footercolumn">
      asdasdasd
    </div>
    <div class="footercolumn">
      asdasdasdas
    </div>
    <div class="footercolumn">
      zxczxvzvxbv
    </div>            
    </div>
    
</div>